<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  {{#if tracking.gtag}}
  {{#if tracking.gtag.isEnabled}}
  <!-- Google tag (gtag.js)  -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking.gtag.code }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ tracking.gtag.code }}');
  </script>
  {{/if}}
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="{{page.title}}" />
  <meta name="description" content="{{page.description}}" />

  <title>{{page.title}}</title>

  <link rel='stylesheet' type='text/css' href='/style.css?v={{version}}' />
</head>

<body>
  <div id="root">
    {{{body}}}
  </div>
</body>

</html>
